extends layout

block content
    div The id of this house is: #{house._id}
    div The title of this house is: #{house.title}
    div The description of this house is: #{house.description}
    div The price of this house is: #{house.price}