div.row.container
    div.text-center.muted.footbar
        div.footer-item
            a(href="#") About
        span.splitter |
        div.footer-item
            a(href="#") Career
        span.splitter |
        div.footer-item
            a(href="http://glyphicons.com/", target="_blank") We Use Glyphicons