div.container-full
    nav.navbar.navbar-inverse(role="navigation")
        // Brand
        div.navbar-header
            a.navbar-brand(href="/") Kajiban
        div.collapse.navbar-collapse
            // Left menu
            ul.nav.navbar-nav
                li
                    a(href="/houses") House
                li
                    a(href="#") Car
                li
                    a(href="#") Used Sales
                li
                    a(href="#") TODO
            // Search bar
            //- div.col-md-4
            //-     form.navbar-form.navbar-left(role="search")
            //-         div.input-group
            //-             input.form-control(type="text", placeholder="Search")
            //-             span.input-group-btn
            //-                 button.btn.btn-success(type="submit") Search
            // Right menu
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#") Sign in
                li
                    a(href="/signup") Sign up
                li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#") Action
                        li
                            a(href="#") Action
                        li
                            a(href="#") Action
                        li.divider
                        li
                            a(href="#") Action