extends layout
block content
    div.container
        form#avatar-form(method="POST", action="/user/avatar", enctype="multipart/form-data")
            input#photo(type="file", name="photo", accept="image/*", capture="camera", style="display:none;", onchange="var reader=new FileReader();reader.onload=function(e){$('#preview').attr('src',e.target.result).show()};reader.readAsDataURL(this.files[0])")
            input.button(type="button", value="+ Avatar", style="margin-right:80px;", onclick="$('#photo').click()")
            input.button(type="submit", value="Upload")

        form#user-info-form(method="POST", action="/user/edit")
            div.form-group
                label User Name
                input.form-control(name="username", type="text", value="#{profile.username}")
            div.form-group
                label Password
                input.form-control(name="password", type="password")
            div.form-group
                label Confirm Password
                input.form-control(name="password2", type="password")
            div.form-group
                input.btn.btn-default(name="submit", type="cancel", value="cancel")
                input.btn.btn-success(name="submit", type="submit", value="save")
