extends layout
block content
    p #{message}
    p sign up form
    div#user_signup_form
        form(method="POST", action="/signup", role="form")
            div.form-group
                label email
                input.form-control(type="text", name="email")
            
            div.form-group
                label password
                input.form-control(type="password", name="password")

            input(type="submit", class="btn btn-lg btn-primary")