extends layout
block content
    div
        div.row
            div.col-sm-1.user-pic
                if (profile.avatar && profile.avatar._id)
                    img(src="/avatar/#{profile.userid}/small#{profile.avatar.extension}")
                else
                    img(src="/images/default-avatar.jpg")
            div.col-sm-10
                span.h3 #{profile.username}
            - if (profile.canEdit)
                div.col-sm-1
                    a(href="/user/edit") edit