extends layout
block content
    div
        div.row
            div.col-sm-1.user-pic
                img(src="/uploads/#{profile.avatar._id}/small#{profile.avatar.extension}")
            div.col-sm-10
                span.h3 #{profile.username}
            - if (canEdit)
                div.col-sm-1
                    a(href="/user/edit") edit