extends layout
block content
    div.containter
        div.row
            span #{profile.username}
        div.row
            img(src="uploads/#{profile.avatar._id}/medium#{profile.avatar.extension}")