extends layout
block content
    div.containter
        div.row
            span #{profile.username}
        div.row
            img(src="/uploads/#{profile.avatar._id}/small#{profile.avatar.extension}")
        div
            - if (session.uid == user._id)
                a(href="/user/edit") edit