/* line 4, ../../saas/share/main.scss */
html {
  height: 100%;
}

/* line 8, ../../saas/share/main.scss */
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 13, ../../saas/share/main.scss */
.navbar a {
  color: #999;
}

/* line 17, ../../saas/share/main.scss */
.navbar a:hover {
  color: #333;
}

/* line 21, ../../saas/share/main.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
}

/* line 27, ../../saas/share/main.scss */
#push {
  height: 60px;
}

/* For footer*/
/* line 32, ../../saas/share/main.scss */
#footer {
  background-color: #f5f5f5;
  height: 60px;
}

/* line 37, ../../saas/share/main.scss */
.muted {
  color: #999999;
}

/* line 41, ../../saas/share/main.scss */
.footbar {
  margin: 20px auto;
  max-width: 680px;
}

/* line 46, ../../saas/share/main.scss */
.footer-item {
  float: left;
  width: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 54, ../../saas/share/main.scss */
.footer-item a {
  color: #999999;
}

/* line 58, ../../saas/share/main.scss */
.footer-item a:hover {
  text-decoration: none;
  color: #2a6496;
}

/* line 63, ../../saas/share/main.scss */
#footer .splitter {
  float: left;
}
